@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;700&family=Rubik:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slideIn {
    from {
        top: -20vh;
    }
    to {
        top: 5rem;
    }
}

@keyframes slideOut {
    from {
        top: 5rem;
    }
    to {
        top: -20vh;
    }
}


.primary_nav{
    @apply bg-slate-50 w-3/4 h-[90vh] fixed left-0 top-20 p-[1.6rem] overflow-y-auto shadow-gray-500 shadow-xl;
}

.show_nav{
    animation: slideIn .3s forwards;
}


.hide_nav{
    animation: slideOut 2s forwards;
}