@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;700&family=Rubik:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slideIn {
    from {
        left: -20vh;
    }
    to {
        left: 0;
    }
}

@keyframes slideOut {
    from {
        left: 0;
    }
    to {
        left: -20vh;
    }
}


.primary_nav{
    @apply bg-slate-50 w-3/4 h-[90vh] fixed z-40 left-0 top-20 p-[1.6rem] pt-8 overflow-y-auto shadow-gray-500 shadow-xl lg:static lg:p-0 lg:top-0 lg:bg-transparent lg:shadow-none lg:w-auto lg:h-auto lg:left-0 lg:overflow-visible;
}

.show_nav{
    animation: slideIn .3s forwards;
}


.hide_nav{
    animation: slideOut .4s forwards;
}


.red-button{
    @apply bg-red-600 text-slate-50 transition-opacity duration-300 px-5 py-3 rounded text-sm font-normal hover:opacity-75;
}