@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slideIn {
    from {
        left: -20vh;
    }
    to {
        left: 0;
    }
}

@layer components{

    .AT_only{
        @apply w-0 text-[1px] opacity-0 -top-[100000px] -left-[100000px] absolute;
    }

    .page {
        @apply min-h-screen mt-24 px-6 xl:px-10;
    }


    .primary_nav{
        @apply bg-slate-50 w-[85%] h-screen top-0 fixed z-40 left-0 p-[1.6rem] pt-24 pb-7  overflow-y-auto shadow-gray-500 shadow-xl md:w-[40%] lg:static lg:p-0 lg:top-0 lg:bg-transparent lg:shadow-none lg:w-auto lg:h-auto lg:left-0 lg:overflow-visible;
    }
    
    .show_nav{
        animation: slideIn .3s forwards;
    }
    
    
    .hide_nav{
        display: none;
    }
    
    
    .red-button-bright{
        @apply bg-red-600 text-slate-50 transition duration-300 ease-in-out rounded  font-normal ;
    }
    
    .red-button-dark{
        @apply bg-red-700 text-white duration-300 rounded font-normal ;
    }
    
    .footer-li{
        @apply my-2 first:text-lg  first:font-semibold mb-3 lg:my-4 transition duration-[.25s] ease-linear hover:text-red-500 first:hover:text-white;
    }
    
    .footer-li-with-svg{
        @apply text-2xl first:text-[1.5rem] my-0 first:hover:text-red-500;
    }


    .aboutMainContentTextContainer p{
        @apply mb-5 leading-[1.6rem];
    }


    .pt-service-cta{
        @apply py-[1.4rem] flex justify-center items-center font-medium w-28 h-10 text-sm rounded-sm text-center hover:shadow-xl transition duration-300 ease-linear;
    }


    .ap_page_cp_box_link{
        @apply mb-6 duration-300 transition-transform ease-in-out border border-gray-400 hover:border hover:border-red-600 hover:-translate-y-3 focus:-translate-y-3 focus:border focus:border-red-600 focus:outline focus:outline-none rounded-lg block w-auto h-auto;
    }

    .ap_page_cp_box{
       @apply  px-4 py-8 text-center flex flex-col items-center justify-center md:w-60;
    }
}